.block {
  padding: 10px;
  border-radius: 8px;
}

.scene, .object, .rule {
  background-color: #6bdaed;
  border-radius: 8px;
  padding: 6px;
}

.scene, .object, .rule, .block {
  color: #fff;
}

.scene > button:not(:hover),
.object > button:not(:hover),
.rule > button:not(:hover) {
  background-color: #fff;
  color: #000;
}

.object {
  background-color: #50a3b2;
}

.rule {
  background-color: #be2961;
}

.block.red {
  background-color: #d73e1e;
}

.block.green {
  background-color: #63ae1e;
}

.block entry {
  background-color: #fff;
  color: #000;
  border: none;
}


entry.param {
  border-radius: 30px;
}

.buttoncolor:not(:disabled) {
  background: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.buttoncolor:active {
  background: darker(@theme_selected_bg_color)
}
